// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Our Color:
$main-color: #70D6FF; // bleu
$second-color: #F7D6E0; // rose
$third-color: #FF9770; // orange
$fourth-color: #FFD670; // jaune
$fifth-color: #F0C808; // jaune
