// Specific CSS for your home-page

.container-home {
  background-color: white;
  height: 100vh;
}

.container-first {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;

  h1 {
    font-family: 'modak';
    font-size: 100px;
    color: $second-color;
  }


  h2{
    font-family: $second-font;
    font-size: 30px;
    font-weight: bold;
    color: $fourth-color;
  }

}

.img-logoweb{
  width: 100%;
  background-color: white;
}
.img-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 28%;
  height: 28%;
}

.container-second {

  width: 100%;
  background-color: $main-color;
  height: 80vh;

  h2{

    font-family: 'Raleway';
    font-weight: bold;
    padding: 30px;
  }
}

.card-category-home{
  h4 {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: $second-color;
}




