// Import page-specific CSS files here.
@import "home";
@import "signin";


body {
      margin: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}

.main-container {
  flex-grow: 1;
  background-color: white;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
