<h2>Hello,</h2>

<p><%= @owner.first_name.capitalize %> t'invite à rejoindre son crew !
<br>
<ul>Avec Qui a beté ?, tu :
<li>crées ton crew</li>
<li>invites tes potes</li>
<li>crées un bet</li>
</ul>
<br>
Et on se charge de vous rappeler qui doit quoi à qui, sans mauvaise foi possible.
<br>
Prêt à béter ?
  <br>
<%= link_to "Crée ton compte", new_member_url(@group) %> ou <%= link_to "J'ai déjà un compte, rejoindre le crew", new_member_url(@group) %></p>
