<div class="AAA" align="center" style="background-image: url(''); background-size: cover; font-family: 'Helvetica';">

  <img src="www.quiabete.co/images/logoqabweb.png" alt="" width="250" height="250">

  <h2>Salut beteur,</h2>

  <p><strong><%= @owner.first_name.capitalize %></strong> t'invite à rejoindre son crew !
  <br>

  <p>Avec <strong> Qui a beté ?</strong> , tu peux:</p>
  </br>
  <p>- créer ton crew</p>
  <p>- inviter tes potes</p>
  <p>- créer un bet</p>
  </br>

  <p>Et on se charge de vous rappeler qui doit quoi à qui, sans mauvaise foi possible. Prêt à béter ?
  </br>
  </br>
  Rejoins-nous !
  </br>
  <%= link_to "Crée ton compte", new_member_url(@group_id) %></br>
  <%= link_to "J'ai déjà un compte, rejoindre le crew", new_member_url(@group_id, params:{invited_user_id: @invited_user.id}) %></p>
</div>
