
<div class="row">
    <div class="col-12 col-md-12 index-group">
        <div class="d-flex justify-content-center">
            <div id="chart"></div>
            <div id="question"><h1 id="result"></h1></div>
            <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        </div>
    </div>
</div>