<div class="row">
    <div class="col-12 col-md-12 index-group">
        <div class="container-index">
            <h2>Modifie le bet</h2>
            <%= render 'form' %>

        </div>
    </div>
</div>
