


<div class="row">
  <div class="col-12 col-md-12 index-group">
    <div class="container-index">
    <h2>Tes crews</h2>

    <div class="cards-index">
      <% @owner_groups.each do |group| %>
      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path group.photo if group.photo.present? %>')">
       <%= link_to group.name, group_path(group), class: 'link'%>
       <i class="fas fa-cog"></i>
       <%if @groups.include?(group) %>
       <%= link_to icon("far","trash-alt") , group, method: :delete, data: { confirm: 'Sûr sûr?' } %>
       <% else %>
       <% end %>
     </div>
     <% end %>
   </div>
 </div>

 <div class="d-flex justify-content-center">
  <%= link_to "Crée ton crew", new_group_path, class:"btn-home" %>
</div>

</div>

