


<div class="row">
    <div class="col-12 col-md-12 index-group">
        <h2>Espace Bet</h2>
            <div class="d-flex justify-content-between">
            <% @groups.each do |group| %>
            <li><%= group.name %></li>
            <% end %>
            </div>
    </div>
</div>