<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/watch?v=G2LBIFQEr2M"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    WE <i class="fas fa-heart"></i> BET
  </div>
</div>
