
<div class="page-container">
  <div class="img-logoweb">
    <%= image_tag 'Logoqabweb.png', class: 'img-logo'  %>
  </div>
  <div class="container-first">

    <h1>QUI A BETÉ ?</h1>
    <h2><span id="banner-typed-text"></span></h2>
    <a class="btn btn-home" href="/groups" >ON BET ✌️ ?</a>
  </div>


  <div class="container-second">
    <h2>C'EST QUOI QUI A BETÉ ?</h2>

    <div class="cards-home" >

      <div class="card-category-home" id="up-left">
        <img src="https://image.freepik.com/free-vector/finger-mobile-phone_1057-3277.jpg" class="img-card-category">
        <div class="cards-category-title" >
          <div>
           <h4>Crée ta team</h4>
         </div>
       </div>
     </div>

     <div class="card-category-home" >
      <img src="https://image.freepik.com/free-vector/space-rocket-flying-space-with-moon-stars-background-print-vector-illustration_1284-2184.jpg" class="img-card-category">
      <div class="cards-category-title">
        <div>
         <h4>Lance un pari</h4>
       </div>
     </div>
   </div>


   <div class="card-category-home" id="up-left">
     <img src="https://image.freepik.com/free-vector/business-handshake-background-flat-style_23-2147783043.jpg" class="img-card-category">
     <div class="cards-category-title">
      <div>
       <h4>Choisi un enjeu</h4>
     </div>
   </div>
 </div>

 <div class="card-category-home"  >
   <img src="https://image.freepik.com/free-vector/decorative-oktoberfest-background-flat-design_23-2148249926.jpg" class="img-card-category">
   <div class="cards-category-title">
    <div>
     <h4>Recolte tes gains</h4>
   </div>
 </div>
</div>



</div>
</div>



