


<div class="container-home">



  <div class="cards-home">
    <div class="card-category-home" id="card-left-up" >
     <h1> QUI A BETE ? </h1>
   </div>

   <div class="card-category-home" id="card-right" >

   </div>

   <div class="card-category-home" id="card-left-down" >
     <h2> Les paris entre potes </h2>
   </div>

   <div class="card-category-home" id="card-right" >
    <a class="btn btn-home" href="" >ON BET ?</a>
  </div>
</div>
</div>
