

<div class="page-container context">


  <div class="img-logoweb">
    <%= image_tag 'logoqabweb.png', class: 'img-logo'  %>
  </div>



  <div class="container-first ">
    <!-- <div class='pointer'></div> -->
      <div class="cursor cursor--small"></div>
      <canvas class="cursor cursor--canvas" resize></canvas>
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>


    <h1>QUI A BETÉ ?</h1>
    <h2><span id="banner-typed-text"></span></h2>
    <a class="btn btn-home link-item" href="/groups" >ON BET ✌️ ?</a>
  </div>


  <div class="container-second">
    <h2>QUI A BETÉ ? C'EST QUOI ?</h2>

    <div class="cards-home" >

      <div class="card-category-home" id="up-left">
        <img src="https://image.freepik.com/free-vector/finger-mobile-phone_1057-3277.jpg" class="img-card-category">
        <div class="cards-category-title" >
          <div>
           <h4>Crée ton crew</h4>
         </div>
       </div>
     </div>

     <div class="card-category-home" >
      <img src="https://image.freepik.com/free-vector/space-rocket-flying-space-with-moon-stars-background-print-vector-illustration_1284-2184.jpg" class="img-card-category">
      <div class="cards-category-title">
        <div>
         <h4>Lance un pari</h4>
       </div>
     </div>
   </div>


   <div class="card-category-home" id="up-left">

     <%= image_tag 'Handshake.png', class: 'img-card-category'  %>
     <div class="cards-category-title">
      <div>
       <h4>Choisis un enjeu</h4>
     </div>
   </div>
 </div>

 <div class="card-category-home"  >
   <%= image_tag 'Beerscheers.png', class: 'img-card-category'  %>
   <div class="cards-category-title">
    <div>
     <h4>Récolte ton dû</h4>
   </div>
 </div>
</div>



</div>
</div>

