



<div class="img-logoweb">
  <%= image_tag 'Logoqabweb.png', class: 'img-logo'  %>
</div>
<div class="container-first">

  <h1>QUI A BETÉ ?</h1>
  <a class="btn btn-home" href="" >ON BET ✌️ ?</a>
</div>


<div class="container-second">
  <h2>C'EST QUOI QUI A BETÉ ?</h2>

  <div class="cards-home">
    <div class="card-category-home">
      <h4>Crée ta team</h4>
    </div>

    <div class="card-category-home" >
     <h4>Fais tes Bet</h4>
   </div>
 </div>
</div>


