.sign-up-body {
    // background: rgb(247, 214, 224);
    // background: radial-gradient(circle, rgba(247, 214, 224, 1) 34%, rgba(112, 214, 255, 1) 93%);
    // height: 100vh;
    .container-edit-registration {
        width: 70%;
        margin: 0 auto;
        opacity: 100%;
    }
}