  .btn-password {
    text-align: center;
    width: 70%;
    background: $fifth-color;
    color: white;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
  }

  .btn-password:hover {
    opacity: 0.9;
    transition: 0.5s ease-in-out;
  }

.password_form {
  margin-bottom: 15px !important;
}
