.containerA {
  height: 350px;
  width: 60%;
  background-color: #FF9770;
  border-radius: 8px;
  margin-left: 280px;
}

.Z-1 {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.Z-2 {
  text-align: center;
  padding-top: 54px;
}
.form-actions{
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.form-inputs {
  margin: 0 auto;
  text-align: center;
  width: 580px;
  background-color: #F0C808;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.avt {
  text-align: center;
}
