.sign-up-body {
    background: rgb(247, 214, 224);
    background: radial-gradient(circle, rgba(247, 214, 224, 1) 34%, rgba(112, 214, 255, 1) 93%);
    .container-signup {
        width: 70%;
        margin: 0 auto;
        opacity: 100%;
        margin-top: -30px;
    }
    h2 {
        font-family: $headers-font;
        font-size: 70px;
        text-align: center;
        margin-bottom: -20px;
    }
    .form {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        font-style: $main-font;
    }
    .form-control {
        background-color: #ffffff;
        opacity: 0.4;
    }
    .email {
        margin-right: 7px;
    }
    .user_first_name {
        margin-right: 7px;
    }
    .boutons {
        display: flex;
        justify-content: center;
        margin-bottom: 6px;
    }
    a {
        text-decoration: none;
        color: black;
        background-color: #9BD5F2;
        margin-top: 0px;
        padding: 7px 7px;
        margin-left: 60px;
        border-radius: 5px;
    }
    a:hover {
        text-decoration: none;
    }
    .btn {
        background-color: #9BD5F2;
        border-radius: 5px;
    }
    .form-group {
        // opacity: 50%;
    }
}