.new_betA {
    cursor: pointer;
    width: 70px;
    margin: 0 auto;
}

.bet-label {
  font-size: 18px;
}

.cardds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 54px;
}

.bet-form {
    display: none;
    &.visible {
        display: block;
    }
}

.bet_difficulty {
    margin-left: 35px;
    font-size: 13px;
    margin: auto 0;
    margin-bottom: 15px;
}

.form-footer .btn-home {
    margin-bottom: 0px;
}

.mb-4 {
    font-family: 'Baloo Bhai';
}

@media(max-width: 992px) {
    .cardds {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 768px) {
    .cardds {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 544px) {
    .cardds {
        grid-template-columns: 1fr 1fr;
    }
}

// .container-index {
//   margin: 0 auto;
//   margin-bottom: 50px;
// }
.HH {
    width: 50%;
    margin: 0 auto;
    padding-top: 12px;
}

// .col-12 {
//     max-width: 100% !important;
// }
// #bet_description {
//     height: 100px;
// }

#bet_target_id {
    width: 160px;
    margin-right: 40px;
}

#wheel_link {
    margin: auto 0;
    margin-left: 40px;
}

#wheelsvg {
    width: 55px;
}

#bet_end_date_1i {
    width: 100px;
}

#bet_end_date_2i {
    width: 150px;
}

#bet_end_date_3i {
    width: 100px;
}

.required {}

.new-bet-form input {
  margin-bottom: 35px;
}

.new-bet-form select {
  margin-bottom: 35px;
}
