.new_bet {
    cursor: pointer;
}

.avatar-xl:hover {
    opacity: 30%;
    width: 90px;
    height: 90px;
}

.bet-form {
    display: none;
    &.visible {
        display: block;
    }
}

.form-footer .btn-home {
    margin-bottom: 0px;
}