.A-1 {
  text-align: center;
}

.B-1 {
  margin-left: 54px;
  width: 30%;
  border: 2px solid #70D6FF;
  text-align: center;
  padding-top: 10px;
  background-color: #F7D6E0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }

.B-2 {
  height: 180px;
  margin-left: 54px;
  width: 30%;
  border: 2px solid #70D6FF;
  text-align: center;
  padding-top: 10px;
  background-color: #F7D6E0;
  border-radius: 8px;
  margin-top: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.B-3 {
  margin-top: 24px;
  width: 20%;
  border: 2px solid #70D6FF;
  text-align: center;
  padding-top: 10px;
  background-color: #F7D6E0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.avatarcont {
  display: flex;
}

.I-1 {
  margin-left: 64px;
}

.I-2 {
  margin-right: 64px;
}

.I-1:hover {
  opacity: 0.6;
}
.I-2:hover {
  opacity: 0.6;
}
