.A-1 {
  text-align: center;
  padding-top: 8px;
}

.B-1 {
  margin-top: 32px;
  margin-left: 120px;
  width: 20%;
  border: 2px solid #70D6FF;
  text-align: center;
  padding-top: 10px;
  background-color: #F7D6E0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }

.B-2 {
  height: 180px;
  margin-left: 54px;
  width: 30%;
  border: 2px solid #70D6FF;
  text-align: center;
  padding-top: 10px;
  background-color: #F7D6E0;
  border-radius: 8px;
  margin-top: 44px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.B-3 {
  margin-top: 44px;
  margin-left: 120px;
  width: 20%;
  border: 2px solid #70D6FF;
  text-align: center;
  padding-top: 10px;
  background-color: #F7D6E0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.B-4 {
  float: right;
  display: block;
  margin-right: 54px;
  margin-top: -440px;
  height: 500px;
  width: 30%;
  border: 2px solid #70D6FF;
  background-color: #F7D6E0;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.avatarcont {
  display: flex;
}

.I-1 {
  margin-left: 64px;
}

.I-2 {
  margin-right: 64px;
}

.I-1:hover {
  opacity: 0.6;
}
.I-2:hover {
  opacity: 0.6;
}

.C-1 {
  text-align: center;
  padding-top: 64px;
}
.C-2 {
  text-align: center;
  padding-top: 64px;
}
.C-3 {
  text-align: center;
  padding-top: 64px;
}

.D-1 {
  p {
    margin-top: 28px;
  }
  margin: 0 auto;
  margin-top: -300px;
  height: 100px;
  width: 10%;
  text-align: center;
  border: 4px solid #F7D6E0;
  background-color: #70D6FF;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.D-2 {
  p {
    margin-top: 28px;
  }
  margin: 0 auto;
  height: 100px;
  width: 10%;
  text-align: center;
  border: 4px solid #F7D6E0;
  background-color: #70D6FF;
  margin-top: 36px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.D-3 {
  p {
    margin-top: 28px;
  }
  margin: 0 auto;
  height: 100px;
  width: 10%;
  text-align: center;
  border: 4px solid #F7D6E0;
  background-color: #70D6FF;
  margin-top: 36px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.D-1:hover {
  opacity: 0.6;
}
.D-2:hover {
  opacity: 0.6;
}
.D-3:hover {
  opacity: 0.6;
}


