.HZ {
    text-align: center;
    max-width: 500px;
    float: right;
    margin-top: 15px;
    flex: grow;
    margin-left: 25px;
}

.date-A {
    float: right;
}

.A-1 {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 800px;
    height: 300px;
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2);
    height: 350px;
    border-radius: 8px
}

.A-2 {}

.B-3 {
    margin: 0 auto;
    width: 20%;
    padding-bottom: 80px;
}

.like-btn-A {
    margin-top: 200px;
    margin-left: 100px;
}

.like-btn-B {
    margin-top: 200px;
    margin-left: 80px;
}

//.like-btn-C {
//  margin-top: 200px;
//  margin-left: 60px;
//}
.avatarcont {
    text-align: center;
    float: left;
    height: 300px;
    width: 180px;
}

.avatar-x {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.I-1 {
    padding-top: 14px;
}

.I-2 {}

.I-1:hover {
    opacity: 0.6;
}

.I-2:hover {
    opacity: 0.6;
}

.button_bets {
    margin-top: 18px;
    margin-left: 530px;
}

.mr-2 {
    margin-right: 50px !important;
}

.like-btn {}