.edit_bet {

  input:checked + label img{
    border: solid 7px $fifth-color;
    opacity: 1;
    border-radius: 50%
  }

label {
   overflow: hidden;
}


  .winner-selection {

   height: 168px;
   width: 168px;
   transition: 0.8s ease;
   margin-bottom: 200px;


 }

 .winner-selection-active {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  transition: 1s ease;

}

.looser-selection-active{
  position: relative;
  height: 0px;
  width: 0px;
  transition: 1s ease;
}


.winner-better {
  margin: 5px;
}



}

.winner-text {
  display: none;

}

.fadeInDown {
  animation-duration: 3s;
}
