.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  grid-gap: 0px;
  margin: 0 30px;
  padding: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

.card-category-home{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
}
