.button_new {
    background-color: #9BD5F2;
    border-radius: 5px;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.button_new:hover {
    color: $second-color;
    transition: 0.8s ease-in-out;
}

.p-new-crew {
  font-size: 24px;
}


input:checked + label {
  border: solid 5px black;
  opacity: 1;
}

.label-img-group {
  opacity: 0.85;
  border: solid 5px transparent;
}

.label-img-group:hover {
  border: solid 5px black;
  opacity: 1;
  cursor: pointer;
}

.label-img-group::after {
    overflow: hidden;
    visibility: hidden;
}

.inputZ {
  max-width: 340px !important;
  font-size: 24px;
  // text-align: center;
  // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  // border-radius: 6px;
}
