.button_new {
    background-color: #9BD5F2;
    border-radius: 5px;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.button_new:hover {
    color: $second-color;
    transition: 0.8s ease-in-out;
}


input:checked + label {
  border: solid 7px black;
  opacity: 1;
}

.label-img-group {
  opacity: 0.85;
}

.inputZ {
  max-width: 340px !important;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
