

.slide {
  display: none;
}

.slide.slide--current {
  display: block;
}

.visible {
  display: none;
}


.card-show-bet {
 overflow: hidden;
 height: 120px;
 display: flex;
 align-items: center;
 margin-bottom: 20px;

}

.card-bet-infos {
 background: white;
 box-shadow: 0 0 20px rgba(245,206,218,0.4);
 border-radius: 5px;
 margin-bottom: 20px;
}


.img-group-show{
  width: 12%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
  margin-right: 5px;
}
